{% extends 'base.html.twig' %}

{% block body %}
    <h1>Person</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ person.name }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ person.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ person.lastName }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{% if person.birthDate %}{{ person.birthDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ person.email }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ person.address }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ person.website }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ person.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('person_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('person_edit', { 'id': person.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
